<div id="site-header">
    <div class="container">
        <div id="header-container" appScrollAdjustHeader>
            <div id="logo-and-title">
                <a href="/">
                    <img src="../../assets/images/logo_blue.svg" alt="site logo" id="site-logo" />
                </a>
            </div>
            <nav id="site-nav" *ngIf="!isMobile">
                <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link">Home</a>
                <span aria-hidden="true">/</span>
                <a routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link">About</a>
                <span aria-hidden="true">/</span>
                <a routerLink="/projects" routerLinkActive="active-link" class="nav-link">Projects</a>
                <span aria-hidden="true">/</span>
                <a routerLink="/blog" routerLinkActive="active-link" class="nav-link">Blog</a>
            </nav>
            <button matRipple id="ham-menu-btn" (click)="toggleMenu()" aria-label="icon-button with a menu" *ngIf="isMobile">
                <mat-icon *ngIf="!menuOpen">menu</mat-icon>
                <mat-icon *ngIf="menuOpen">close</mat-icon>
            </button>
            <div class="custom-menu" *ngIf="menuOpen" id="custom-menu">
                <a (click)="toggleMenu()" routerLink="/" routerLinkActive="active-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
                <a (click)="toggleMenu()" routerLink="/about" routerLinkActive="active-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">About</a>
                <a (click)="toggleMenu()" routerLink="/projects" routerLinkActive="active-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Projects</a>
                <a (click)="toggleMenu()" routerLink="/blog" routerLinkActive="active-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Blog</a>
            </div>
        </div>
    </div>
</div>