<div id="page-footer">
  <div class="container">
    <div id="footer-container">
      <img id="footer-logo" src="../../assets/images/logo_transparent.svg" />
      <div id="footer-text">
        <p>© 2024 All rights reserved</p>
        <p>Written using Angular with <span class="html-heart">&#10084;</span> by Aditya</p>
      </div>
      <div id="footer-socials">
        <a href="https://github.com/akbcit/">
          <img
            class="socials-logo"
            src="../../assets/images/github-mark-white.svg"
            alt="GitHub Logo"
          />
        </a>
        <a href="https://www.linkedin.com/in/aditya-k-71a356a0/">
            <img
              class="socials-logo"
              src="../../assets/images/linkedIn-logo.svg"
              alt="LinkedIn Logo"
            />
          </a>
      </div>
    </div>
  </div>
</div>
