<app-about-container></app-about-container>
<div id="about-me-container">
    <div id="content">
        <h1 id="name">Aditya Kumar</h1>
        <h2 id="tags">Design. Develop. Deliver</h2>
        <p id="summary">As a versatile professional, I navigate the journey from concept to code: Strategize ➔ Develop ➔
            Innovate ➔ Implement.</p>
        <p id="profile-1" class="profile">
            My work across <span class="highlight">Amazon</span>, <span class="highlight">Mercer</span>, <span
                class="highlight">Newcrest</span>, and <span class="highlight">Khatabook</span> married innovative
            software solutions with strategic process optimization, blending technical prowess and managerial insight to
            drive business growth and efficiency.
        </p>
        <p id="profile-2" class="profile">
            Passionate about programming, I apply a first-principles mindset to develop scalable, modular web solutions,
            enhancing both organizational structures and practices. Transitioning from HR to software development, I
            will leverage both soft and hard skills to enhance operational efficiency and foster technological
            innovation.
        </p>
        <h3 class="section-heading">Key Highlights</h3>
        <ul id="highlights-list">
            <li class="highlights-item">Collaborated with an HR tech startup to create a Slack-Based Annual Feedback and
                Review Process,
                boosting strategic alignment and employee engagement.</li>
            <li class="highlights-item">Worked closely with Tosh Elder, Principal Group Rewards, to streamline
                compensation practices in Western Canada (Newcrest), focusing on salary range development and pay
                harmonization for newly acquired sites. These efforts resulted in receiving the global Chief People
                and Culture Officer Award.</li>
            <li class="highlights-item">Developed a competency framework for tech roles at CoinSwitch, streamlining
                career progression and promoting a culture of development and growth.</li>
        </ul>
        <h3 class="section-heading">Areas of Focus</h3>
        <ul id="focus-list">
            <li class="focus-item">
                <h4>Backend</h4>
                <ul>
                    <li>Node.js</li>
                    <li>ASP.NET Core</li>
                    <li>PostgreSQL</li>
                    <li>MongoDB</li>
                </ul>
            </li>
            <li class="focus-item">
                <h4>Frontend</h4>
                <ul>
                    <li>React</li>
                    <li>Angular</li>
                    <li>SCSS</li>
                </ul>
            </li>
            <li class="focus-item">
                <h4>Devops & Other</h4>
                <ul>
                    <li>Git</li>
                    <li>Docker</li>
                    <li>Semantic Search & NLP</li>
                </ul>
            </li>
        </ul>
        <h3 class="section-heading">Vision Statement</h3>
        <p>My vision is to excel in creating scalable software products that delight users. I aspire to develop enterprise solutions that streamline workflows and elevate the user experience, ultimately enhancing productivity and satisfaction.</p>
    </div>
    <div id="side-bar"></div>
</div>