<div id="hero-banner">
  <h1
    class="hero-banner-lines"
    appHighlightWord
    highlightColor="#408fff"
    [wordPosition]="1">Full Stack</h1>
  <h1
    class="hero-banner-lines"
    appHighlightWord
    highlightColor="#408fff"
    [wordPosition]="0">Web Developer</h1>
  <div id="hero-para">
    <p>
      Hello, I'm Aditya, a web developer in Vancouver. With a background in
      Human Resources within tech organizations, I excel at decoding complexity.
      My coding combines creativity with strategic thought, aiming to create
      cohesive, well-integrated solutions.
    </p>
  </div>  
  <app-infinite-carousel></app-infinite-carousel>
  <button mat-raised-button class="custom-button">View my projects 👉</button>
</div>

