@import "../../variables";

:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 L 0,400 C 53.134572901325484,268.33100147275405 106.26914580265097,136.6620029455081 173,81 C 239.73085419734903,25.337997054491897 320.0579896907216,45.68298969072164 381,60 C 441.9420103092784,74.31701030927836 483.4988954344625,82.60603829160532 536,76 C 588.5011045655375,69.39396170839468 651.9464285714284,47.89285714285714 713,37 C 774.0535714285716,26.10714285714286 832.7153902798235,25.82253313696613 899,37 C 965.2846097201765,48.17746686303387 1039.1920103092782,70.81701030927834 1095,56 C 1150.8079896907218,41.182989690721655 1188.5165684830633,-11.090574374079523 1243,40 C 1297.4834315169367,91.09057437407952 1368.7417157584682,245.54528718703978 1440,400 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,400 C 53.46023564064801,269.48269513991164 106.92047128129602,138.96539027982325 166,84 C 225.07952871870398,29.034609720176736 289.77835051546396,49.62113402061856 360,49 C 430.22164948453604,48.37886597938144 505.96612665684836,26.550073637702496 565,31 C 624.0338733431516,35.449926362297504 666.3571428571429,66.17857142857143 721,70 C 775.6428571428571,73.82142857142857 842.6053019145802,50.73564064801179 899,53 C 955.3946980854198,55.26435935198821 1001.2216494845361,82.87886597938143 1068,71 C 1134.778350515464,59.12113402061856 1222.5081001472756,7.7488954344624545 1288,56 C 1353.4918998527244,104.25110456553755 1396.7459499263623,252.12555228276878 1440,400 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,400 C 70.22772459499262,256.79896907216494 140.45544918998525,113.5979381443299 198,53 C 255.54455081001475,-7.597938144329896 300.4059278350516,14.407216494845365 353,35 C 405.5940721649484,55.592783505154635 465.9208394698086,74.77319587628865 534,84 C 602.0791605301914,93.22680412371135 677.9107142857143,92.49999999999999 735,79 C 792.0892857142857,65.50000000000001 830.4363033873342,39.22680412371135 892,45 C 953.5636966126658,50.77319587628865 1038.3440721649483,88.59278350515464 1110,83 C 1181.6559278350517,77.40721649484536 1240.187407952872,28.402061855670112 1293,74 C 1345.812592047128,119.59793814432989 1392.906296023564,259.79896907216494 1440,400 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,400 C 54.06167157584683,269.65445508100146 108.12334315169366,139.30891016200295 165,81 C 221.87665684830634,22.691089837997055 281.56829896907215,36.41881443298969 352,44 C 422.43170103092785,51.58118556701031 503.6034609720176,53.01583210603829 559,50 C 614.3965390279824,46.98416789396171 644.0178571428571,39.517857142857146 696,33 C 747.9821428571429,26.482142857142854 822.3251104565537,20.912739322533135 898,34 C 973.6748895434463,47.087260677466865 1050.6817010309278,78.83118556701031 1109,72 C 1167.3182989690722,65.16881443298969 1206.948085419735,19.76251840942564 1259,68 C 1311.051914580265,116.23748159057436 1375.5259572901325,258.1187407952872 1440,400 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,400 C 53.134572901325484,268.33100147275405 106.26914580265097,136.6620029455081 173,81 C 239.73085419734903,25.337997054491897 320.0579896907216,45.68298969072164 381,60 C 441.9420103092784,74.31701030927836 483.4988954344625,82.60603829160532 536,76 C 588.5011045655375,69.39396170839468 651.9464285714284,47.89285714285714 713,37 C 774.0535714285716,26.10714285714286 832.7153902798235,25.82253313696613 899,37 C 965.2846097201765,48.17746686303387 1039.1920103092782,70.81701030927834 1095,56 C 1150.8079896907218,41.182989690721655 1188.5165684830633,-11.090574374079523 1243,40 C 1297.4834315169367,91.09057437407952 1368.7417157584682,245.54528718703978 1440,400 L 1440,400 L 0,400 Z");
    }
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,400 L 0,400 C 38.92654639175258,286.59241531664213 77.85309278350516,173.18483063328426 149,125 C 220.14690721649484,76.81516936671575 323.51417525773195,93.85309278350513 390,116 C 456.48582474226805,138.14690721649487 486.090206185567,165.40279823269515 544,159 C 601.909793814433,152.59720176730485 688.125,112.53571428571429 747,111 C 805.875,109.46428571428571 837.409793814433,146.4543446244477 894,164 C 950.590206185567,181.5456553755523 1032.2358247422683,179.64690721649487 1091,164 C 1149.7641752577317,148.35309278350513 1185.6469072164948,118.9580265095729 1240,156 C 1294.3530927835052,193.0419734904271 1367.1765463917527,296.5209867452136 1440,400 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,400 C 61.627209131075105,274.00423416789397 123.25441826215021,148.00846833578794 177,115 C 230.7455817378498,81.99153166421208 276.6095360824743,141.97036082474227 336,159 C 395.3904639175257,176.02963917525773 468.3074374079529,150.11008836524297 532,147 C 595.6925625920471,143.88991163475703 650.1607142857143,163.58928571428572 705,167 C 759.8392857142857,170.41071428571428 815.04970544919,157.53276877761414 872,146 C 928.95029455081,134.46723122238586 987.6404639175255,124.27963917525773 1060,117 C 1132.3595360824745,109.72036082474227 1218.388438880707,105.34867452135492 1284,153 C 1349.611561119293,200.65132547864508 1394.8057805596463,300.3256627393225 1440,400 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,400 C 50.76822533136968,294.9596833578792 101.53645066273936,189.91936671575849 163,143 C 224.46354933726064,96.08063328424153 296.6224226804123,107.28221649484533 355,117 C 413.3775773195877,126.71778350515467 457.9738586156112,134.9517673048601 510,136 C 562.0261413843888,137.0482326951399 621.4821428571428,130.91071428571428 693,128 C 764.5178571428572,125.08928571428571 848.0975699558173,125.40537555228278 904,124 C 959.9024300441827,122.59462444771722 988.1275773195875,119.46778350515463 1049,117 C 1109.8724226804125,114.53221649484537 1203.3921207658323,112.72349042709868 1274,160 C 1344.6078792341677,207.27650957290132 1392.3039396170839,303.63825478645066 1440,400 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,400 C 52.46778350515463,302.570324005891 104.93556701030926,205.14064801178205 166,164 C 227.06443298969074,122.85935198821797 296.7255154639176,138.0077319587629 356,137 C 415.2744845360824,135.9922680412371 464.16237113402053,118.82842415316641 531,114 C 597.8376288659795,109.17157584683359 682.6249999999999,116.67857142857143 737,121 C 791.3750000000001,125.32142857142857 815.3376288659795,126.45729013254788 871,131 C 926.6623711340205,135.54270986745212 1014.0244845360826,143.49226804123708 1087,127 C 1159.9755154639174,110.5077319587629 1218.5644329896909,69.5736377025037 1275,111 C 1331.4355670103091,152.4263622974963 1385.7177835051546,276.21318114874816 1440,400 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,400 C 38.92654639175258,286.59241531664213 77.85309278350516,173.18483063328426 149,125 C 220.14690721649484,76.81516936671575 323.51417525773195,93.85309278350513 390,116 C 456.48582474226805,138.14690721649487 486.090206185567,165.40279823269515 544,159 C 601.909793814433,152.59720176730485 688.125,112.53571428571429 747,111 C 805.875,109.46428571428571 837.409793814433,146.4543446244477 894,164 C 950.590206185567,181.5456553755523 1032.2358247422683,179.64690721649487 1091,164 C 1149.7641752577317,148.35309278350513 1185.6469072164948,118.9580265095729 1240,156 C 1294.3530927835052,193.0419734904271 1367.1765463917527,296.5209867452136 1440,400 L 1440,400 L 0,400 Z");
    }
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,400 L 0,400 C 77.38383652430043,315.2477908689249 154.76767304860087,230.4955817378498 205,206 C 255.23232695139913,181.5044182621502 278.313144329897,217.26546391752578 331,223 C 383.686855670103,228.73453608247422 465.9797496318114,204.44256259204712 541,194 C 616.0202503681886,183.55743740795288 683.7678571428571,186.96428571428572 734,196 C 784.2321428571429,205.03571428571428 816.9488217967601,219.70029455080999 875,228 C 933.0511782032399,236.29970544919001 1016.4368556701031,238.23453608247422 1082,231 C 1147.5631443298969,223.76546391752578 1195.3037555228275,207.36156111929307 1252,234 C 1308.6962444771725,260.63843888070693 1374.3481222385863,330.31921944035344 1440,400 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,400 C 68.47882916053018,325.5909425625921 136.95765832106036,251.18188512518412 203,219 C 269.04234167893964,186.81811487481588 332.64819587628875,196.86340206185565 384,210 C 435.35180412371125,223.13659793814435 474.4495581737849,239.3645066273932 531,234 C 587.5504418262151,228.6354933726068 661.5535714285716,201.67857142857147 730,202 C 798.4464285714284,202.32142857142853 861.3361561119292,229.92120765832104 921,238 C 980.6638438880708,246.07879234167896 1037.1018041237114,234.63659793814432 1099,216 C 1160.8981958762886,197.36340206185568 1228.2566273932255,171.53240058910163 1286,201 C 1343.7433726067745,230.46759941089837 1391.8716863033874,315.2337997054492 1440,400 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,400 C 48.77319587628867,317.1034609720177 97.54639175257734,234.20692194403532 163,199 C 228.45360824742266,163.79307805596468 310.58762886597935,176.27577319587633 379,195 C 447.41237113402065,213.72422680412367 502.1030927835052,238.68998527245947 557,238 C 611.8969072164948,237.31001472754053 667.0000000000001,210.96428571428572 722,199 C 776.9999999999999,187.03571428571428 831.8969072164948,189.45287187039767 889,197 C 946.1030927835052,204.54712812960233 1005.4123711340205,217.2242268041237 1073,211 C 1140.5876288659795,204.7757731958763 1216.4536082474228,179.65022091310752 1279,208 C 1341.5463917525772,236.34977908689248 1390.7731958762886,318.1748895434462 1440,400 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,400 C 72.03829160530194,312.95526509572903 144.07658321060387,225.91053019145804 206,199 C 267.92341678939613,172.08946980854196 319.7319587628865,205.31314432989691 379,228 C 438.2680412371135,250.68685567010309 504.9955817378499,262.8368924889544 554,248 C 603.0044182621501,233.1631075110456 634.2857142857143,191.3392857142857 695,190 C 755.7142857142857,188.6607142857143 845.8615611192932,227.8059646539028 922,241 C 998.1384388807068,254.1940353460972 1060.2680412371133,241.43685567010309 1108,220 C 1155.7319587628867,198.56314432989691 1189.0662739322534,168.44661266568485 1242,197 C 1294.9337260677466,225.55338733431515 1367.4668630338733,312.7766936671576 1440,400 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,400 C 77.38383652430043,315.2477908689249 154.76767304860087,230.4955817378498 205,206 C 255.23232695139913,181.5044182621502 278.313144329897,217.26546391752578 331,223 C 383.686855670103,228.73453608247422 465.9797496318114,204.44256259204712 541,194 C 616.0202503681886,183.55743740795288 683.7678571428571,186.96428571428572 734,196 C 784.2321428571429,205.03571428571428 816.9488217967601,219.70029455080999 875,228 C 933.0511782032399,236.29970544919001 1016.4368556701031,238.23453608247422 1082,231 C 1147.5631443298969,223.76546391752578 1195.3037555228275,207.36156111929307 1252,234 C 1308.6962444771725,260.63843888070693 1374.3481222385863,330.31921944035344 1440,400 L 1440,400 L 0,400 Z");
    }
}

@keyframes pathAnim-3 {
    0% {
        d: path("M 0,400 L 0,400 C 65.4837997054492,347.2928939617084 130.9675994108984,294.5857879234168 184,278 C 237.0324005891016,261.4142120765832 277.61340206185554,280.94974226804123 345,282 C 412.38659793814446,283.05025773195877 506.5787923416791,265.61524300441823 565,277 C 623.4212076583209,288.38475699558177 646.0714285714284,328.5892857142857 695,329 C 743.9285714285716,329.4107142857143 819.1354933726069,290.0276141384389 889,288 C 958.8645066273931,285.9723858615611 1023.3865979381442,321.30025773195877 1091,326 C 1158.6134020618558,330.69974226804123 1229.318114874816,304.77135493372606 1288,312 C 1346.681885125184,319.22864506627394 1393.3409425625919,359.61432253313694 1440,400 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,400 C 69.08744477172314,365.0909425625921 138.17488954344628,330.1818851251841 204,317 C 269.8251104565537,303.8181148748159 332.38788659793806,312.3634020618557 392,305 C 451.61211340206194,297.6365979381443 508.27356406480135,274.3645066273932 558,279 C 607.7264359351987,283.6354933726068 650.517857142857,316.17857142857144 707,319 C 763.482142857143,321.82142857142856 833.6550073637706,294.92120765832107 898,292 C 962.3449926362294,289.07879234167893 1020.8621134020616,310.13659793814435 1085,314 C 1149.1378865979384,317.86340206185565 1218.8965390279823,304.5324005891016 1279,316 C 1339.1034609720177,327.4675994108984 1389.5517304860089,363.7337997054492 1440,400 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,400 C 50.16310751104565,348.98361561119293 100.3262150220913,297.96723122238586 164,292 C 227.6737849779087,286.03276877761414 304.8582474226804,325.1146907216495 378,326 C 451.1417525773196,326.8853092783505 520.240795287187,289.5740058910162 571,276 C 621.759204712813,262.4259941089838 654.1785714285716,272.58928571428567 702,287 C 749.8214285714284,301.41071428571433 813.0449189985271,320.068851251841 874,327 C 934.9550810014729,333.931148748159 993.6417525773195,329.13530927835046 1059,310 C 1124.3582474226805,290.86469072164954 1196.3880706921943,257.389911634757 1261,270 C 1325.6119293078057,282.610088365243 1382.8059646539027,341.3050441826215 1440,400 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,400 C 44.29013254786449,365.460235640648 88.58026509572898,330.92047128129605 146,318 C 203.41973490427102,305.07952871870395 273.9690721649485,313.77835051546396 340,307 C 406.0309278350515,300.22164948453604 467.5434462444771,277.9661266568483 536,271 C 604.4565537555229,264.0338733431517 679.8571428571429,272.35714285714283 731,281 C 782.1428571428571,289.64285714285717 809.0279823269515,298.60530191458025 876,301 C 942.9720176730485,303.39469808541975 1050.0309278350517,299.2216494845361 1111,293 C 1171.9690721649483,286.7783505154639 1186.8483063328424,278.5081001472754 1234,296 C 1281.1516936671576,313.4918998527246 1360.575846833579,356.7459499263623 1440,400 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,400 C 65.4837997054492,347.2928939617084 130.9675994108984,294.5857879234168 184,278 C 237.0324005891016,261.4142120765832 277.61340206185554,280.94974226804123 345,282 C 412.38659793814446,283.05025773195877 506.5787923416791,265.61524300441823 565,277 C 623.4212076583209,288.38475699558177 646.0714285714284,328.5892857142857 695,329 C 743.9285714285716,329.4107142857143 819.1354933726069,290.0276141384389 889,288 C 958.8645066273931,285.9723858615611 1023.3865979381442,321.30025773195877 1091,326 C 1158.6134020618558,330.69974226804123 1229.318114874816,304.77135493372606 1288,312 C 1346.681885125184,319.22864506627394 1393.3409425625919,359.61432253313694 1440,400 L 1440,400 L 0,400 Z");
    }
}




#page-top {
    background-color: #05162e;
    background-image: $primary-bg;
    height: 45%;
    width: 100%;
    max-width: 100vw;

    @media only screen and (max-width: 450px) {
        height:65%;
    }

    @media only screen and (max-width: 400px) {
        height:80%;
    }

    @media only screen and (max-width: 390px) {
        height:90%;
    }

    @media only screen and (max-width: 370px) {
        height:100%;
    }
}

#divider-svg {
    width: 100%;
    height: 100%;
    display: block;

    .path-0 {
        animation: pathAnim-0 44s linear infinite;
        fill-opacity: 0.265;
    }

    .path-1 {
        animation: pathAnim-1 20s linear infinite;
        fill-opacity: 0.4;
    }

    .path-2 {
        animation: pathAnim-2 32s linear infinite;
        fill-opacity: 0.53;
    }

    .path-3 {
        animation: pathAnim-3 33s linear infinite;
        fill-opacity: 1;
    }
}