@import "../../../src/variables";
@import "../../../src/theme";

:host {
    min-height: 39rem;
    max-height: fit-content;
    margin-top: 1.5rem;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
}

#tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    z-index: 1;
    gap: 2rem;
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}