@import "./theme.scss";

$header-top-gap: 2rem;
$site-logo-height: 2.5rem;
$main-content-top-gap: 2rem;
$footer-bg-color: #1f232b;
$drop-shadow-dark-bg: drop-shadow(-3px 12px 9px rgba(0, 0, 0, 0.75));
$primary-text-color-dark: "#408fff";
$separator-color: #2f3947;
$primary-bg:linear-gradient(#131314, #05162e);
