// src/theme.scss
@use '@angular/material' as mat;

// Custom black palette for the dark theme
$custom-black-palette: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000, // pure black
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  )
);

// Use the custom palette to define the primary color for the dark theme
$custom-dark-primary: mat.define-palette($custom-black-palette);
$custom-dark-accent: mat.define-palette(mat.$grey-palette, A200); // Lighter grey for accent
$custom-dark-warn: mat.define-palette(mat.$red-palette);

// Dark theme definition
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $custom-dark-primary,
    accent: $custom-dark-accent,
    warn: $custom-dark-warn,
  )
));

// Custom color configuration for the light theme
$custom-light-primary: mat.define-palette(mat.$grey-palette, 50); // White-ish
$custom-light-accent: mat.define-palette(mat.$grey-palette, 900); // Darker grey for accent
$custom-light-warn: mat.define-palette(mat.$red-palette);

// Light theme definition
$light-theme: mat.define-light-theme((
  color: (
    primary: $custom-light-primary,
    accent: $custom-light-accent,
    warn: $custom-light-warn,
  )
));
